/* PHASE 12: Modal */
.modal{
  display: none;
}

.modal-screen{
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

.modal-form{
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index:2;
}

.is-open{
  display: block;
}

.is-close{
  display: none;
}

